
    body{
        background-image: url("img/bg.jpeg");
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
        margin: 0;
    }

    .snowflakes{
        z-index: 1;
    }

    /*customizable snowflake styling */
    .snowflake {
        color: #fff;
        font-size: 1em;
        font-family: Arial;
        text-shadow: 0 0 1px #000;
    }
    
    @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
    
    @-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}
    @keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}
    }@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}


    .container{
        margin: 3vw;
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content:space-around;
        padding-top: 10%;
        position: relative;
        z-index: 100;
    }

    .container img{
        width: 20vw;
        height: auto;
        position: relative;
    }
    .bounce1{
        animation-name: bounceOne;
    }

    .bounce2{
        animation-name: bounceTwo;
    }

    .bounce3{
        animation-name: bounceThree;
    }

    .bounce1, .bounce2, .bounce3 {
        position: relative;
        animation-duration: 2.5s;
        animation-iteration-count: infinite; /* This makes it loop! */
        animation-timing-function: ease-in-out; /* Optional: makes it look smoother */
    }

    @keyframes bounceOne {
        0%   { transform: translate(0px, 0px) rotate(0deg); }
        20%  { transform: translate(0px, 100px) rotate(5deg); }
        40%  { transform: translate(0px, -100px) rotate(-5deg); }
        60% { transform: translate(0px, 0px) rotate(5deg); }
        100%   { transform: translate(0px, 0px) rotate(0deg); }
    }

    @keyframes bounceTwo {
            0%   { transform: translate(0px, 0px)}
            20%  { transform: translate(0px, 0px) rotate(5deg); }
            40%  { transform: translate(0px, 100px) rotate(-5deg); }
            60% { transform: translate(0px, -100px) rotate(5deg); }
            100%   { transform: translate(0px, 0px) rotate(0deg); }
        }

    @keyframes bounceThree {
            0%   { transform: translate(0px, 0px) rotate(0deg); }
            20%  { transform: translate(0px, 0px) rotate(5deg); }
            40%  { transform: translate(0px, 0px) rotate(-5deg); }
            60% { transform: translate(0px, 100px) rotate(5deg); }
            80%   { transform: translate(0px, -100px) rotate(0deg); }
            100%   { transform: translate(0px, 0px) rotate(0deg); }

    }

    @media (min-width: 1600px) {
        .container {
            max-width: 1400px; /* Keeps the heads from drifting too far left/right */
            margin: 0 auto;    /* Centers the container */
        }
        .container img {
            width: 20vw;       /* Scale down slightly so they aren't massive */
        }
    
        /*customizable snowflake styling */
        .snowflake {
            color: #fff;
            font-size: 2em;
            font-family: Arial;
            text-shadow: 0 0 1px #000;
        }
        
    }



@media screen and (max-width:768px){
    
    body{
        background-image: url("img/bg-ipad.jpeg"); /* A tall/vertical version */
        background-size: cover;
    }

    .container{
        display: flex;
        flex-direction:column;
        align-items: center;
        padding-top: 3%;
        position: relative;
        justify-content:space-around;
        z-index: 100;
        gap: 2vw;
    }
    
    .container img{
        width: 25vw;
        height: auto;
        position: relative;
    }
    
    @keyframes bounceOne {
        0%   { transform: translate(0px, 0px) rotate(0deg); }
        20%  { transform: translate(75px, 0px) rotate(5deg); }
        40%  { transform: translate(-75px, 0px) rotate(-5deg); }
        60% { transform: translate(0px, 0px) rotate(5deg); }
        100%   { transform: translate(0px, 0px) rotate(0deg); }
    }
    
      @keyframes bounceTwo {
            0%   { transform: translate(0px, 0px)}
            20%  { transform: translate(0px, 0px) rotate(5deg); }
            40%  { transform: translate(75px,0px) rotate(-5deg); }
            60% { transform: translate(-75px, 0px) rotate(5deg); }
            100%   { transform: translate(0px, 0px) rotate(0deg); }
        }
    
      @keyframes bounceThree {
            0%   { transform: translate(0px, 0px) rotate(0deg); }
            20%  { transform: translate(0px, 0px) rotate(5deg); }
            40%  { transform: translate(0px, 0px) rotate(-5deg); }
            60% { transform: translate(75px, 0px) rotate(5deg); }
            80%   { transform: translate(-75px, 0px) rotate(0deg); }
            100%   { transform: translate(0px, 0px) rotate(0deg); }
    
      }
  }

  






  @media screen and (max-width:480px){
    
    body{
        background-image: url("img/bg-mobile.jpeg"); /* A tall/vertical version */
        background-size: cover;
    }

    .container{
        display: flex;
        flex-direction:column;
        align-items: center;
        padding-top: 10%;
        position: relative;
        z-index: 100;
        gap: 5vw;
    }
    
    .container img{
        width: 35vw;
        height: auto;
        position: relative;
    }
    
    @keyframes bounceOne {
        0%   { transform: translate(0px, 0px) rotate(0deg); }
        20%  { transform: translate(50px, 0px) rotate(5deg); }
        40%  { transform: translate(-50px, 0px) rotate(-5deg); }
        60% { transform: translate(0px, 0px) rotate(5deg); }
        100%   { transform: translate(0px, 0px) rotate(0deg); }
    }
    
      @keyframes bounceTwo {
            0%   { transform: translate(0px, 0px)}
            20%  { transform: translate(0px, 0px) rotate(5deg); }
            40%  { transform: translate(50px,0px) rotate(-5deg); }
            60% { transform: translate(-50px, 0px) rotate(5deg); }
            100%   { transform: translate(0px, 0px) rotate(0deg); }
        }
    
      @keyframes bounceThree {
            0%   { transform: translate(0px, 0px) rotate(0deg); }
            20%  { transform: translate(0px, 0px) rotate(5deg); }
            40%  { transform: translate(0px, 0px) rotate(-5deg); }
            60% { transform: translate(50px, 0px) rotate(5deg); }
            80%   { transform: translate(-50px, 0px) rotate(0deg); }
            100%   { transform: translate(0px, 0px) rotate(0deg); }
    
      }
  }